<h1 class="bg-warning text-center">
  Welcome to Angular 15 {{ title }} and Name is {{ ibrahim }}
</h1>
<!-- Compare this snippet from src/app/app.component.ts: -->
<section class="bg-secondary text-white p-3">
  <!-- <app-my-app></app-my-app> -->
  <!-- <app-stock></app-stock> -->
  <!-- <app-lifecycle> </app-lifecycle> -->
  <!-- <app-inject></app-inject> -->
  <http-component></http-component>
</section>
<footer class="bg-dark text-white text-center p-3">
  <h5>copyRight Reserved to Ibrahim</h5>
  <p>&copy; 2023 My Angular App</p>
  <p>
    Follow us on <a href="https://twitter.com" class="text-white">Twitter</a> |
    <a href="https://facebook.com" class="text-white">Facebook</a>
  </p>
</footer>